.hero {
    background: url(../img/banner_bg.png);
    height: 100vh;
    background-position: top right;
    background-size: 41%;
    background-repeat: no-repeat;


    @include media-breakpoint-down (lg) {
        background-size: 35%;
    }

    @include media-breakpoint-down (md) {
        background: #f0eed4;
    }

    &__text-container {
        position: relative;
        top: 75%;

        @include media-breakpoint-down (md) {
            top: 60%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../img/banner_overlay.png);
        background-position: center right;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        z-index: 1;
        left: -25rem;
        top: 62%;

        @include media-breakpoint-down (md) {
            display: none;
        }
    }
}


.items {
    margin-top: 15rem;
    margin-bottom: 5rem;
    position: relative;

    @include media-breakpoint-down (md) {
        margin-top: 0;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../img/about_overlay.png);
        background-position: right;
        background-size: 15% 65%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        z-index: -1;
        right: 0;
        top: 50%;

        @include media-breakpoint-down (lg) {
            background-size: 15% 60%;
        }

        @include media-breakpoint-down (md) {
            display: none;
        }
    }

}

.about {
    padding: 5rem 0;

    &__text-container {
        padding-right: 10rem;

        @include media-breakpoint-down (md) {
            padding-right: 0;
        }
    }
}


.section-heading {
    padding: 5rem 0;
    position: relative;

    &__primary {
        &::before {
            content: "";
            position: absolute;
            height: 1.5rem;
            width: 8rem;
            background: #ff6426;
            z-index: -1;
            bottom: .5rem;
        }
    }
}


.video {
    background: linear-gradient(rgba(0, 0, 0, .7)),
        url(../img/intro_video_bg.png);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




.footer {
    padding: 10rem 0;

    &-card {
        padding: 2rem 0;


        &__title-container {
            padding: 1rem 0 3rem 0;
        }

        &__list-container {
            padding: 0;
            margin: 0;
        }

        &__list-item {
            list-style: none;
            padding-bottom: 1rem;
        }

        &__list-link {
            font-size: 1.5rem;
            font-weight: 600;
            color: rgb(93, 93, 93);
            text-decoration: none;
            display: inline-block;
            transition: all ease .2s;

            &:hover {
                text-decoration: none;
                color: #ff6426;
            }
        }
    }
}